/* :root {
    --background: #f8f0e5;
    --text-primary: #0f2c59;
    --text-secondary: #0b60b0;
    --accent: #40a2d8;
    --accent-hover: #dac0a3; 
    --border: #0b60b0;
    --shadow: 3px 5px 5px -4px #40a2d8;
    --important: #b00;
}

[data-theme='dark'] {
    --background: #0f2c59;
    --text-primary: #f8f0e5;
    --text-secondary: #40a2d8;
    --accent: #dac0a3;
    --accent-hover: #40a2d8; 
    --border: #966a44;
    --shadow: 3px 5px 5px -4px #dac0a3;
    --important: #f00;
} */

:root {
    --background: #dcdee1;
    --text-primary: #1b052c;
    --text-secondary: #393b5b;
    --accent: #577189;
    --accent-hover: #a3abb9;
    --border: #577189;
    --shadow: #a3abb9;
    --important: #b00;
}

[data-theme='dark'] {
    --background: #031926ff;
    --text-primary: #fffcd7ff;
    --text-secondary: #c0c1adff;
    --accent: #254d58ff;
    --accent-hover: #505a64ff;
    --border: #808683ff;
    --shadow: #c0c1adff;
    --important: #f00;
}

[data-palette='Grayscale'] { /* */
    --rich-black: #030017ff;
    --dark-purple: #201d33ff;
    --english-violet: #3d3a4fff;
    --davys-gray: #5a576bff;
    --taupe-gray: #777486ff;
    --french-gray: #b0adbeff;
    --lavender-web: #e9e6f5ff;
}

[data-palette='AzulCrema'] {
    /* CSS HEX */
    --oxford-blue: #00102eff;
    --prussian-blue: #202e44ff;
    --paynes-gray: #505a64ff;
    --battleship-gray: #808683ff;
    --ash-gray: #c0c1adff;
    --light-yellow: #fffcd7ff;
}

[data-palette='dark'] { /* Green based */
    /* CSS HEX */
    --rich-black: #031926ff;
    --midnight-green: #254d58ff;
    --teal: #468189ff;
    --cambridge-blue: #77aca2ff;
    --ash-gray: #9dbebbff;
    --parchment: #f4e9cdff;

    /* SCSS Gradient */
    $gradient-top: linear-gradient(0deg, #031926ff, #254d58ff, #468189ff, #77aca2ff, #9dbebbff, #f4e9cdff);
    $gradient-right: linear-gradient(90deg, #031926ff, #254d58ff, #468189ff, #77aca2ff, #9dbebbff, #f4e9cdff);
    $gradient-bottom: linear-gradient(180deg, #031926ff, #254d58ff, #468189ff, #77aca2ff, #9dbebbff, #f4e9cdff);
    $gradient-left: linear-gradient(270deg, #031926ff, #254d58ff, #468189ff, #77aca2ff, #9dbebbff, #f4e9cdff);
    $gradient-top-right: linear-gradient(45deg, #031926ff, #254d58ff, #468189ff, #77aca2ff, #9dbebbff, #f4e9cdff);
    $gradient-bottom-right: linear-gradient(135deg, #031926ff, #254d58ff, #468189ff, #77aca2ff, #9dbebbff, #f4e9cdff);
    $gradient-top-left: linear-gradient(225deg, #031926ff, #254d58ff, #468189ff, #77aca2ff, #9dbebbff, #f4e9cdff);
    $gradient-bottom-left: linear-gradient(315deg, #031926ff, #254d58ff, #468189ff, #77aca2ff, #9dbebbff, #f4e9cdff);
    $gradient-radial: radial-gradient(#031926ff, #254d58ff, #468189ff, #77aca2ff, #9dbebbff, #f4e9cdff);
}

[data-palette='light'] { /* Purple / Gray based */
    /* CSS HEX */
    --platinum: #dcdee1ff;
    --french-gray: #c9cdd4ff;
    --cadet-gray: #a3abb9ff;
    --paynes-gray: #577189ff;
    --delft-blue: #393b5bff;
    --dark-purple: #1b052cff;

    /* SCSS Gradient */
    $gradient-top: linear-gradient(0deg, #dcdee1ff, #c9cdd4ff, #a3abb9ff, #577189ff, #393b5bff, #1b052cff);
    $gradient-right: linear-gradient(90deg, #dcdee1ff, #c9cdd4ff, #a3abb9ff, #577189ff, #393b5bff, #1b052cff);
    $gradient-bottom: linear-gradient(180deg, #dcdee1ff, #c9cdd4ff, #a3abb9ff, #577189ff, #393b5bff, #1b052cff);
    $gradient-left: linear-gradient(270deg, #dcdee1ff, #c9cdd4ff, #a3abb9ff, #577189ff, #393b5bff, #1b052cff);
    $gradient-top-right: linear-gradient(45deg, #dcdee1ff, #c9cdd4ff, #a3abb9ff, #577189ff, #393b5bff, #1b052cff);
    $gradient-bottom-right: linear-gradient(135deg, #dcdee1ff, #c9cdd4ff, #a3abb9ff, #577189ff, #393b5bff, #1b052cff);
    $gradient-top-left: linear-gradient(225deg, #dcdee1ff, #c9cdd4ff, #a3abb9ff, #577189ff, #393b5bff, #1b052cff);
    $gradient-bottom-left: linear-gradient(315deg, #dcdee1ff, #c9cdd4ff, #a3abb9ff, #577189ff, #393b5bff, #1b052cff);
    $gradient-radial: radial-gradient(#dcdee1ff, #c9cdd4ff, #a3abb9ff, #577189ff, #393b5bff, #1b052cff);
}